@model TheHappyMeal.Models.ReservationViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slide1 -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1 item1-slick1" style="background-image: url(../../images/slide1-01.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        Welcome to
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        The Happy Meal
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
                        <!-- Button1 -->
                        <a href="menu.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Look Menu
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background-image: url(../../images/master-slides-02.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
                        Welcome to
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                        The Happy Meal
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
                        <!-- Button1 -->
                        <a href="menu.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Look Menu
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item3-slick1" style="background-image: url(../../images/master-slides-01.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                        Welcome to
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                        The Happy Meal
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="rotateIn">
                        <!-- Button1 -->
                        <a href="@Url.Action("Menu")" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Look Menu
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="wrap-slick1-dots"></div>
    </div>
</section>

<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-welcome t-center">
                    <span class="tit2 t-center">
                        Jordanian Restaurant
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        Welcome
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed fringilla, nunc sed imperdiet lacinia, nisl ante egestas mi, ac facilisis ligula sem id neque.
                    </p>

                    <a href="@Url.Action("About")" class="txt4">
                        Our Story
                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="../../images/our-story-01.jpg" alt="IMG-OUR">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->
<section class="section-intro">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(../../images/bg-intro-01.jpg);">
        <span class="tit2 p-l-15 p-r-15">
            Discover
        </span>

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            The Happy
        </h3>
    </div>

    <div class="content-intro bg-white p-t-77 p-b-133">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-t-30">
                    <!-- Block1 -->
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <a href="#"><img src="../../images/intro-01.jpg" alt="IMG-INTRO"></a>
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                            <a href="#">
                                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                    Modern Restaurant
                                </h4>
                            </a>

                            <p class="m-b-20">
                                Phasellus lorem enim, luctus ut velit eget, con-vallis egestas eros.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 p-t-30">
                    <!-- Block1 -->
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <a href="#"><img src="../../images/intro-02.jpg" alt="IMG-INTRO"></a>
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                            <a href="#">
                                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                    Delicious Food
                                </h4>
                            </a>

                            <p class="m-b-20">
                                Aliquam eget aliquam magna, quis posuere risus ac justo ipsum nibh urna
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 p-t-30">
                    <!-- Block1 -->
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <a href="#"><img src="../../images/blog-09.jpg" alt="IMG-INTRO"></a>
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                            <a href="#">
                                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                    Great Stuff
                                </h4>
                            </a>

                            <p class="m-b-20">
                                Sed ornare ligula eget tortor tempor, quis porta tellus dictum.
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Our menu -->
<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
    <div class="container">
        <div class="title-section-ourmenu t-center m-b-22">
            <span class="tit2 t-center">
                Discover
            </span>

            <h3 class="tit5 t-center m-t-2">
                Our Menu
            </h3>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="../../images/our-menu-01.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="@Url.Action("Menu")" class="btn2 flex-c-m txt5 ab-c-m size4">
                                Lunch
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="../../images/our-menu-02.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="@Url.Action("Menu")" class="btn2 flex-c-m txt5 ab-c-m size5">
                                Dinner
                            </a>
                        </div>
                    </div>


                </div>
 
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="../../images/drinks.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="@Url.Action("Menu")" class="btn2 flex-c-m txt5 ab-c-m size7">
                                Drink
                            </a>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Item our menu -->
                        <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                            <img src="../../images/our-menu-16.jpg" alt="IMG-MENU">

                            <!-- Button2 -->
                            <a href="@Url.Action("Menu")" class="btn2 flex-c-m txt5 ab-c-m size9">
                                Dessert
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Seperation -->
<section class="section-event">
    <div class="item-slick2 item1-slick2" style="background-image: url(../../images/bg-event-01.jpg);">
        <div class="wrap-content-slide2 p-t-115 p-b-208">
            <div class="title-event t-center m-b-52">
                <span class="tit2 p-l-15 p-r-15">
                    Discover
                </span>
                <h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
                    The Magic
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Booking -->
<section class="section-booking bg1-pattern p-t-100 p-b-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-b-30">
                <div class="t-center">
                    <span class="tit2 t-center">
                        Reservation
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        Book table
                    </h3>
                </div>

                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {

                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Date -->
                            <span class="txt9">
                                Date
                            </span>

                            <div class="wrap-inputdate pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="my-calendar bo-rad-10 sizefull txt10 p-l-20" type="text" name="BookDate">
                                <i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
                            </div>

                            <!-- Time -->
                            <span class="txt9">
                                Time
                            </span>

                            <div class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input type="text" name="BookTime" class="bo-rad-10 sizefull txt10 p-l-20 p-r-15" placeholder="--:-- --">
                                <i class="btn-clock fa fa-clock-o ab-r-m hov-pointer m-r-30" aria-hidden="true"></i>
                            </div>

                            <!-- People -->
                            <span class="txt9">
                                People
                            </span>

                            <div class="wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select name="PeopleNumber" id="PeopleNumber" class="selection-1">
                                    <option value="0">People</option>
                                    <option value="1">1 Person</option>
                                    <option value="2">2 Person</option>
                                    <option value="3">3 Person</option>
                                    <option value="4">4 Person</option>
                                    <option value="5">5 Person</option>
                                    <option value="6">6 Person</option>
                                    <option value="7">7 Person</option>
                                    <option value="8">8 Person</option>
                                    <option value="9">9 Person</option>
                                    <option value="10">10 Person</option>
                                    <option value="11">11 Person</option>
                                    <option value="12">12 Person</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <!-- Name -->
                            <span class="txt9">
                                Name
                            </span>

                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="Name" placeholder="Name" required>
                            </div>

                            <!-- Phone -->
                            <span class="txt9">
                                Phone
                            </span>

                            <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="Phone" placeholder="Phone" required>
                            </div>

                            <!-- Email -->
                            <span class="txt9">
                                Email
                            </span>

                            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="Email" placeholder="Email" required>
                            </div>
                        </div>
                    </div>

                    <div class="wrap-btn-booking flex-c-m m-t-6">
                        <!-- Button3 -->
                        <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
                            Book Table
                        </button>
                    </div>

                }
                
            </div>

            <div class="col-lg-6 p-b-30 p-t-18">
                <div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="../../images/booking-01.jpg" alt="IMG-OUR">
                </div>
            </div>
        </div>
    </div>
</section>

